@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

/*
=============== 
Variables
===============
*/
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  background-color: var(--clr-primary-1);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

.app {
  text-align: center;
}

.logo {
  height: 15vmin;
  margin-top: 2rem;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  color: white;
}

.link {
  color: #61dafb;
}

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Search
===============
*/
.search-form {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

::placeholder {
  font-size: .8rem;
}

.form-input {
  width: 100%;
  border: transparent;
  max-width: 600px;
  background: var(--clr-white);
  padding: 0.4rem;
  padding-left: 1rem;
  font-size: 1rem;
  border-radius: var(--radius);
  color: var(--clr-grey-3);
  letter-spacing: var(--spacing);
  margin-top: 1rem;
}

.error {
  color: var(--clr-red-light);
  text-transform: capitalize;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  letter-spacing: var(--spacing);
  font-size: 1rem;
  height: 40px;
  visibility: hidden;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.error-visible {
  visibility: visible;
  opacity: 1;
}

/*
=============== 
Loading
===============
*/

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}

/*
=============== 
Pokemons
===============
*/
.pokemons {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
}

.pokemon {
  position: relative;
  height: 240px;
  background-color: hsl(205, 72%, 37%);
  border-radius: 6px;
}

.pokemon-image {
  height: 200px;
}

.pokemon:hover {
  position: relative;
  overflow: hidden;
  background-color: var(--clr-primary-9);
  border-radius: 6px;
}

.pokemon h4 {
  color: #acb7ce;
}

.pokemon img {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.progress {
  text-transform: uppercase;
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

/*
=============== 
Single Pokemon
===============
*/
.single-pokemon {
  width: 80vw;
  max-width: var(--max-width);
  margin: 4rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0;
  color: var(--clr-grey-9);
  text-transform: capitalize;
  background: transparent;
  border-radius: 6px;
}

.single-pokemon img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.single-pokemon p {
  max-width: 35em;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  line-height: 1.8;
}

.pokemon-info {
  padding: 1rem;
}

.pokemon-stats {
  text-align: left;
  line-height: 2rem;
  margin: 0 auto;
  padding: 1rem;
}

.btn {
  text-transform: capitalize;
  padding: 0.5rem 0.7rem;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  border: 0;
  border-radius: var(--radius);
  display: inline-block;
  margin: 0.5rem;
  letter-spacing: var(--spacing);
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .single-pokemon {
    grid-template-columns: 1fr 2fr;
  }
}

/*
=============== 
Modal
===============
*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -1;
}

/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}

.modal-container {
  background: var(--clr-primary-2);
  width: 60vw;
  height: 80vh;
  max-width: 80vw;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
  font-size: medium;
  border-radius: 12px;
  overflow-y: scroll;
  color: var(--clr-grey-9);
}

.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  font-size: 2rem;
  background: #000;
  border-color: transparent;
  color: var(--clr-white);
  cursor: pointer;
}

.pokemon-stats-modal {
  text-align: left;
  line-height: 2rem;
  width: 60%;
  margin: 0 auto;
}

.data-modal {
  padding: 2rem;
  width: 100%;
}

/*
=============== 
Pokemons grid
===============
*/
.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0.5rem 0.5rem;
}

.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.normal {
  background-color: #6d6d4e;
  background-color: rgba(109, 109, 78, 0.6);
}

.fighting {
  background-color: #7d1f1a;
  background-color: rgba(125, 31, 26, 0.6);
}

.flying {
  background-color: #6d5e9c;
  background-color: rgba(109, 94, 156, 0.6);
}

.poison {
  background-color: #682a68;
  background-color: rgba(104, 42, 104, 0.6);
}

.ground {
  background-color: #927d44;
  background-color: rgba(146, 125, 68, 0.6);
}

.rock {
  background-color: #786824;
  background-color: rgba(120, 104, 36, 0.6);
}

.bug {
  background-color: #6d7815;
  background-color: rgba(109, 120, 21, 0.6);
}

.ghost {
  background-color: #493963;
  background-color: rgba(73, 57, 99, 0.6);
}

.steel {
  background-color: #787887;
  background-color: rgba(120, 120, 135, 0.6);
}

.fire {
  background-color: #9c531f;
  background-color: rgba(156, 83, 31, 0.6);
}

.water {
  background-color: #445e9c;
  background-color: rgba(68, 94, 156, 0.6);
}

.grass {
  background-color: #4e8234;
  background-color: rgba(78, 130, 52, 0.6);
}

.electric {
  background-color: #a1871f;
  background-color: rgba(161, 135, 31, 0.6);
}

.psychic {
  background-color: #a13959;
  background-color: rgba(161, 57, 89, 0.6);
}

.ice {
  background-color: #638d8d;
  background-color: rgba(99, 141, 141, 0.6);
}

.dragon {
  background-color: #4924a1;
  background-color: rgba(73, 36, 161, 0.6);
}

.dark {
  background-color: #49392f;
  background-color: rgba(73, 57, 47, 0.6);
}

.fairy {
  background-color: #9b6470;
  background-color: rgba(155, 100, 112, 0.6);
}

.thumb-container {
  width: 240px;
  height: 265px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  margin: 0.3rem;
  border: 1px solid #efefef;
  border-radius: 1rem;
  min-width: 160px;
  text-align: center;
  color: var(--clr-grey-9);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}

.thumb-container:hover {
  background-color: var(--clr-primary-6);

  box-shadow: 0 3px 15px rgba(0, 0, 0, 0);
}

.thumb-container h3 {
  line-height: 1;
}

.thumb-container img {
  width: 120px;
  height: 120px;
}

.thumb-container a {
  color: var(--clr-grey-5);
}

.thumb-container small {
  text-transform: capitalize;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.detail-wrapper button {
  color: rgb(22, 22, 22);
  padding: 0.5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.185);
}